{% extends "base.html" %}

{% block content %}

<h1>刪除店家</h1>

<form action="" method="post">

    <div class="card" style="width: 50%; margin: auto;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTW8wA2rhNt7f6fzamAHhgbLJrgxRWbb6aMzvVf-Qg0CjCRqHtJewR3QN2xad914KTDpBA&usqp=CAU" class="card-img-top">
        <div class="card-body">
          <p class="card-text">確定要刪除【 {{ object.shopname }} 】這間飲料店嗎？</p>
          {% csrf_token %}
          <input type="submit" class="btn btn-success" 
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
          value="沒錯，我真的想好了！">
          <a href="/main/" class="btn btn-outline-warning"
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; margin-left:55%;"
          >沒，我點到</a>
        </div>
    </div>


</form>
  
{% endblock content %}
